/*
	* MOBILE
*/
:root {
	--color-white: #FFFFFF;
	--color-gray-001: #F5F5F5;
	--color-gray-002: #EDEDED;
	--color-gray-003: #B2B2B2;
	--color-gray-004: #CACACA;
	--color-gray-005: #898989;
	--color-black: #000000;
	--color-primary: pink;
	--color-secondary: #violet;
	--color-accnet: red;

	/* Breakpoints */
	--breakpoint-mobile: 516px;
	--breakpoint-tablet: 768px;
	--breakpoint-laptop: 1024px;
	--breakpoint-desktop: 1280px;
	--breakpoint-tv: 1920px;

	/* Typography */
	--primary-font-family: 'Montserrat', Helvetica, Arial, sans-serif;

	--base-font-size: 16px; 
	--base-line-height: 1.25; 
	--base-font-weight: 400;
	--h1-font-size: 1.75rem;
	--h1-line-height: 1.25;
	--h1-font-weight: 800;
	--h2-font-size: 1.375rem;
	--h2-line-height: 1.25;
	--h2-font-weight: 800;
	--h3-font-size: 1.25rem;
	--h3-line-height: 1.25;
	--h3-font-weight: 600;
	--h4-font-size: 1.125rem;
	--h4-line-height: 1.25;
	--h4-font-weight: 400;
	--h5-font-size: 1rem;
	--h5-line-height: 1.25;
	--h5-font-weight: 400;
	--h6-font-size: 0.75rem;
	--h6-line-height: 1.25;
	--h6-font-weight: 400;
	--body-font-size: 1em;
	--body-line-height: 1.25;
	--body-font-weight: 400;
	--small-font-size: 0.8rem;
	--small-line-height: 1.25;
	--small-font-weight: 400;
	--tiny-font-size: 0.675rem;
	--tiny-line-height: 1.25;
	--tiny-font-weight: 400;

	/* Spacing */
	--gap: 4px;
	--margin: 12px;
	--max-container-width: 1680px; 

	/* Animation */
	--animation-speed: 0.25s;

	/* Colors */
	--primary-bg-color: var(--color-primary)
	--primary-text-color: var(--color-secondary)


	/* Shadows */
	--shadow: 1px 1px 4px #00000029;
}

/*
	* LARGE DESKTOP
*/
@media (min-width: 1920px) {
	:root {
		/* Typography */
		--base-font-size: 18px;  
		--h1-font-size: 2.45rem;
		--h2-font-size: 1.45rem;
		--h3-font-size: 1.375rem;
		--h4-font-size: 1.125rem;
		--h5-font-size: 1rem;
		--h6-font-size: 0.8rem;
		--body-font-size: 1em;
		--small-font-size: 0.8rem;
		--tiny-font-size: 0.75rem;
	}
}